body {
  overflow-y: scroll;
}

.ddt-margin-vertical {
  margin-top: @navbar-margin-bottom;
  margin-bottom: @navbar-margin-bottom;
}

.ddt-float-right {
  float: right;
}

.ddt-float-left {
  float: left;
}

.ddt-drag-active {
  border: solid 1px @brand-primary !important;
}

.ddt-flat-input {
  border: 0;
  color: white;
  background-color: @navbar-default-brand-color;
  width: 100%;
}

.ddt-remove-button {
  cursor: pointer;
}

.ddt-remove-button:hover {
  color: @link-color;
}