.ddt-display-flex {
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* spec */
}

.ddt-flex-direction(@direction) {
  -ms-flex-direction: @direction;
  -webkit-flex-direction: @direction;
  flex-direction: @direction;
}

.ddt-justify-content(@justify) {
  /* What's the prefix for IE10? */
  -webkit-justify-content: @justify;
  justify-content: @justify;
}

.ddt-flex-wrap(@wrap) {
  -ms-flex-wrap: @wrap;
  -webkit-flex-wrap: @wrap;
  flex-wrap: @wrap;
}

.ddt-align-items(@align) {
  -ms-flex-align: @align;
  -webkit-align-items: @align;
  align-items: @align;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

.ddt-margin-vertical {
  margin-top: @navbar-margin-bottom;
  margin-bottom: @navbar-margin-bottom;
}

.ddt-float-right {
  float: right;
}

.ddt-float-left {
  float: left;
}

.ddt-drag-active {
  border: solid 1px @brand-primary !important;
}

.ddt-glyph-button {
  cursor: pointer;
}

.ddt-glyph-button:hover {
  color: @link-color;
}

/* This bit of CSS lets us have submenus in Bootstrap dropdown. */
/* TODO: use variables from Bootstrap LESS files. */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right-width: 0;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  border-radius: 6px 0 6px 6px;
}

.ddt-position-absolute {
  position: absolute;
}

.ddt-titlebar {
  padding: @navbar-padding-vertical @navbar-padding-horizontal;
  color: @body-bg;
  background-color: @navbar-default-brand-color;
}

.ddt-visibility-hidden {
  visibility: hidden;
}

.ddt-in-development {
  cursor: not-allowed !important;
}

.ddt-toolbar {
  .ddt-display-flex();
  .ddt-flex-direction(row);
  .ddt-justify-content(space-between);

  .ddt-font-parameters-menu {
    margin-left: @line-height-computed;
  }
}

.ddt-toolbar-left,
.ddt-toolbar-right {
  .ddt-display-flex();
  .ddt-flex-direction(row);
  .ddt-justify-content(space-between);
}

.ddt-dropdown-menu-content {
  position: absolute;
  border: solid 1px @dropdown-border;
  background-color: @body-bg;
  .box-shadow(0 6px 12px rgba(0, 0, 0, .175));
  left: auto;
  right: 0;
  padding: @padding-base-vertical @padding-base-horizontal;
  z-index: 1;
}