body {
  overflow-y: scroll;
}

.ddt-margin-vertical {
  margin-top: @navbar-margin-bottom;
  margin-bottom: @navbar-margin-bottom;
}

.ddt-float-right {
  float: right;
}

.ddt-float-left {
  float: left;
}

.ddt-drag-active {
  border: solid 1px @brand-primary !important;
}

.ddt-flat-input {
  border: 0;
  color: white;
  background-color: @navbar-default-brand-color;
  width: 100%;
}

.ddt-glyph-button {
  cursor: pointer;
}

.ddt-glyph-button:hover {
  color: @link-color;
}

/* This bit of CSS lets us have submenus in Bootstrap dropdown. */
/* TODO: use variables from Bootstrap LESS files. */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right-width: 0;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  border-radius: 6px 0 6px 6px;
}

.ddt-position-absolute {
  position: absolute;
}

.ddt-titlebar {
  padding: @navbar-padding-vertical @navbar-padding-horizontal;
  color: @body-bg;
  background-color: @navbar-default-brand-color;
}

.ddt-visibility-hidden {
  visibility: hidden;
}

.ddt-in-development {
  cursor: not-allowed !important;
}

.ddt-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .ddt-font-parameters-menu {
    margin-left: @line-height-computed;
  }
}

.ddt-toolbar-left,
.ddt-toolbar-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
