  <div class="footer">
    <div class="contact">
      <p>
        DDT<br />
        <br />

      </p>
    </div>
    <div class="contact">
      <p>
        home <a href="/">testmyfont.com</a><br />
        develop <a href="https://github.com/metapolator/ddt">github.com/metapolator/ddt</a><br />
        discuss <a href="https://plus.google.com/communities/110027004108709154749">plus.google.com</a>
      </p>
    </div>

    <p>
        Copyright &copy; 2013 <a href='https://github.com/metapolator/ddt/blob/master/AUTHORS.txt'>The DDT Authors</a>.<br />
        The DDT Project is <a href='http://www.gnu.org/philosophy/free-sw.html'>free software</a>, available under the terms of the <a href='https://github.com/metapolator/ddt/blob/master/LICENSE.txt'>Apache 2.0 license</a>.
        Please <a href='https://github.com/metapolator/ddt/issues/new'>report issues</a>, suggest features, and contribute on <a href='https://github.com/metapolator/ddt/'>GitHub <i class='icon-github'></i></a>
    </p>
  </div>
