<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../core-toolbar/core-toolbar.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../core-header-panel/core-header-panel.html">

<polymer-element name="ddt-intro">
<template>
	<link rel="stylesheet" type="text/css" href="ddt-intro.css" shim-shadowdom>
	<core-header-panerl mode="standard" id="core_id_panel">
		<core-toolbar>
			<div flex>Document Driven Typedesign</div>
		</core-toolbar>
		<section id="section">
		<div class="container">
			<h1>Add a Font Family to get started</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur.</p>
			<div class="input-fields">
				<paper-input Label="Font Family Name" floatingLabel></paper-input>
				<paper-button raisedButton class="colored" label="Save Family"></paper-button>
			</div>
		</div>
		</section>
	</core-header-panerl>
</template>
<script>
	Polymer('ddt-intro', {

	});
</script>
</polymer-element>