core-toolbar {
	background: #ffffff;
	color: black;
	border-bottom: solid 2px rgba(0,0,0,1);
}
    paper-button {
      margin: 1em;
      width: 10em;
    }

    paper-button.colored {
      color: #4285f4;
      fill: #4285f4;
    }

    paper-button[raisedButton].colored {
      background: #4285f4;
      color: #fff;
    }

    paper-button[raisedButton].colored #ripple,
    paper-button[raisedButton].colored::shadow #ripple {
      color: #2a56c6;
    }

    paper-button[raisedButton].colored #focusBg,
    paper-button[raisedButton].colored::shadow #focusBg {
      background: #3367d6;
    }
    section {
    	height: 100%;
    	background: #eee;
    	padding-top: 100px;
    }
    div.container {
    	margin-left: auto;
    	margin-right: auto;
    	width:40%;
    	min-width: 300px;
    	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    	background: white;
    	padding: 2em;
    }
    h1 {
    	text-align: center;
    }
    p {
    	text-align: justify;
    	line-height: 1.5em;
    }
    div.input-fields {
    	margin-left: auto;
    	margin-right: auto;
    }
    core-header-panel {
    	width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        position: absolute;
    }
