<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../core-toolbar/core-toolbar.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../core-icons/core-icons.html">

<polymer-element name="ddt-intro" center layout vertical>
<template>
	<link rel="stylesheet" type="text/css" href="ddt-intro.css" shim-shadowdom>
	<style></style>
	<div class="bg" cross-fade></div>
		<core-toolbar fit>
			<core-icon id="core_icon" src="images/logo.png" style="width: 42px; height: 42px;"></core-icon>
			<div>Document Driven Typedesign</div>
		</core-toolbar>
		<div center layout vertical flex class="main {{ {wide: wide} | tokenList }}" cross-fade-delayed?="{{parentElement.lastSelected === 'splash'}}">
			<h1>Add a Font Family to get started</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur.</p>
				<paper-input label="Font Family Name" value="{{familyName}}" floatingLabel></paper-input>
				<paper-button raisedButton class="colored" on-tap="{{valueChanged}}" label="Save Family"></paper-button>
		</div>
		<!-- <section id="section">
		<div class="container">
			<h1>Add a Font Family to get started</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur.</p>
			<div class="input-fields">
				<paper-input Label="Font Family Name" value="{{familyName}}" floatingLabel on-change="{{valueChanged}}"></paper-input>
				<paper-button raisedButton class="colored" on-tap="{{valueChanged}}" label="Save Family"></paper-button>
			</div>
		</div>
		</section>-->
</template>
<script type="text/javascript" src="main.js"></script>
<script>
	Polymer('ddt-intro', {
		valueChanged: function(){
			if(this.familyName != "")
			{
				var family1 = {
					name: this.familyName
				}
				this.parentElement.selected = "home";
				localStorage.setItem('family1', JSON.stringify(family1));
				localStorage.setItem('collection', 1);
			}
			else
			{
				alert("Please, Enter a Font Family Name");
			}
		}
	});
</script>
</polymer-element>