<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="ddt-intro.html">
<link rel="import" href="ddt-home.html">
<link rel="import" href="../core-media-query/core-media-query.html">
<link rel="import" href="../core-drawer-panel/core-drawer-panel.html">
<link rel="import" href="../core-animated-pages/core-animated-pages.html">
<link rel="import" href="../core-animated-pages/transitions/slide-up.html">
<link rel="import" href="../core-animated-pages/transitions/scale-up.html">
<link rel="import" href="../core-animated-pages/transitions/tile-cascade.html">
<polymer-element name="ddt-app" vertical layout>
<template>
	<link rel="stylesheet" type="text/css" href="ddt-app.css">
	<core-animated-pages selected="{{selected}}" transitions="cross-fade cross-fade-delayed scale-up slide-up slide-up-offscreen slide-down tile-cascade hero-transition" flex on-core-animated-pages-transition-end="{{transitionEndAction}}">
		<div name="splash">
			<span fit class="spalsh"></span>
		</div>
		<ddt-intro name="intro" id="intro" fit></ddt-intro>
		<ddt-home name="home" id="home"></ddt-home>
	</core-animated-pages>
	<core-media-query query="min-width: {{responsiveWidth}}" queryMatches=""></core-media-query>
</template>
<script>
(function(){
	window.setDDTTransitionSpeed = function(ms){
		CoreStyle.g.transitions.duration = ms + 'ms';
		CoreStyle.g.transitions.scareDelay = CoreStyle.g.transitions.duration;
	}
	
	setDDTTransitionSpeed(100);

	Polymer('ddt-app',{
		selected:'intro',
		responsiveWidth: '900px',
		transitionEndAction:function()
		{
			console.log("message");
		},
		ready:function(){
			this.startup();
		},
		startup:function(){
			if(this.family1)
			{
				this.selected = 'home';
			} else {
				this.selected = 'intro';
			}
		}
	});
})();
</script>
</polymer-element>