<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../core-toolbar/core-toolbar.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../core-icons/core-icons.html">
<polymer-element name="ddt-test" flex vertical>
<template>
	<style type="text/css">
	</style>
	<div>TEST PAGE</div>
</template>
<script>
	(function(){
		Polymer('ddt-test',{

		});
	})();
</script>
</polymer-element>