<div class="row">
  <div class="col-md-8">
    <ddt-font-cards-type-switcher></ddt-font-cards-type-switcher>
  </div>
  <div class="col-md-4 ddt-font-reviewer-controls">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        {{ replaceUnderscores(comparisonType) }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li ng-repeat="comparisonType in FontComparisonTypes">
          <a href="" ng-click="switchComparisonType(comparisonType)">
            {{ replaceUnderscores(comparisonType) }}
          </a>
        </li>
      </ul>
    </div>

    <ddt-font-parameters-menu parameter-set="fontParameters[cardType]">
    </ddt-font-parameters-menu>
  </div>
</div>

<hr>

<div class="ddt-font-reviewer">
  <!-- Side by side comparison. -->
  <ddt-review-card-side-by-side
      ng-show="comparisonType == FontComparisonTypes.SIDE_BY_SIDE"
      ng-repeat="comparisonGroup in comparisonMatrix"
      ng-class="{
        'ddt-review-card-side-by-side-sentence': isType(FontCardTypes.SENTENCE),
        'ddt-review-card-side-by-side-paragraph': isType(FontCardTypes.PARAGRAPH)
      }"
      index="$index"
      comparison-group="comparisonGroup"
      card-type="cardType"
      font-parameters="fontParameters"></ddt-review-card-side-by-side>

  <!-- Opacity comparison. -->
  <ddt-review-card-opacity
      ng-repeat="comparisonGroup in comparisonMatrix"
      ng-class="{
        'ddt-review-card-opacity-paragraph': isType(FontCardTypes.PARAGRAPH)
      }"
      font1="comparisonGroup[0]"
      font2="comparisonGroup[1]"
      font-parameters="fontParameters"
      card-type="cardType"
      index="$index"
      ng-show="comparisonType == FontComparisonTypes.OPACITY"></ddt-review-card-opacity>

  <h4 class="text-muted" style="width: 300px; margin-left: auto; margin-right: auto; margin-top: 100px; text-align: center;"
      ng-show="comparisonType == FontComparisonTypes.DIFF || comparisonType == FontComparisonTypes.MASK">
    This feature is under development.
  </h4>
</div>