.ddt-font-reviewer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: -@grid-gutter-width;
}

.ddt-font-reviewer-controls {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;

  .btn {
    margin-left: @line-height-computed;
  }
}

.ddt-font-reviewer-controls > .dropdown > .dropdown-toggle,
.ddt-font-reviewer-controls > .dropdown > .dropdown-menu {
  text-transform: capitalize;
}