.ddt-font-reviewer {
  .ddt-display-flex();
  .ddt-flex-direction(row);
  .ddt-flex-wrap(wrap);
  .ddt-justify-content(flex-start);
  margin-left: -@grid-gutter-width;
}

.ddt-font-reviewer-controls {
  .ddt-display-flex();
  .ddt-flex-direction(row);
  .ddt-flex-wrap(nowrap);
  .ddt-justify-content(flex-end);

  .btn {
    margin-left: @line-height-computed;
  }
}

.ddt-font-reviewer-controls > .dropdown > .dropdown-toggle,
.ddt-font-reviewer-controls > .dropdown > .dropdown-menu {
  text-transform: capitalize;
}

.ddt-review-card-side-by-side-sentence,
.ddt-review-card-side-by-side-paragraph {
  width: 100%;
}

.ddt-review-card-opacity-paragraph {
  width: 50%;
}

.ddt-fonts-reviewer-legend {
  margin-bottom: @line-height-computed;
  text-align: center;

  .ddt-fonts-reviewer-legend-container {
    display: inline-block;
    margin-left: @line-height-computed;

    &:first-child {
      margin-left: 0;
    }
  }
}

.ddt-review-card-side-by-side-letter {
  min-width: 360px;
}
