html, body {
  height: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  margin: 0;
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(images/splash.svg);
  font-family: "RobotoDraft", sans-serif;
  color: #444;
  fill: #444;
  font-weight: 400;
}

@media screen and (min-width: 900px) {
  body {
    background-size: 512px;
  }
}
